@font-face {
    font-family: victorMono;
    src: url(../assets/victorMono.ttf);
}
#container{
    width: 100%;
    height: 35%;
    background-color: whitesmoke;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;    
}   

#heading{
    font-family: victorMono;
    font-weight: 500;
    font-size: 20px;
}